# ! ONLY FOR DEV; NOT FOR PRODUCTION

SERVER_ADDR="0.0.0.0:3000"

POSTGRES_DB=appdb
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=<YOUR PASSWORD HERE>
POSTGRES_IP=db
POSTGRES_DSN="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_IP}:5432/${POSTGRES_DB}"

REDIS_ADDR=redis:6379