# ! ONLY FOR DEV; NOT FOR PRODUCTION

API_VERSION=0.1

DEV_ENV=true

VITE_API_URL="http://localhost:8000/api"
FRONTEND_URL="http://localhost:8000"
SERVER_ADDR="0.0.0.0:3000"

POSTGRES_DB=appdb
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=<YOUR PASSWORD HERE>
POSTGRES_IP=db
POSTGRES_DSN="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_IP}:5432/${POSTGRES_DB}"

REDIS_HOST=redis
